<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>MusicHub</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-rs-food">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">首頁</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'produce' %}">創作區</a></li>
            <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">論壇</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown-a">
                      {% if user.is_authenticated %}
                      <a class="dropdown-item" href="/userinfo/">帳號管理</a>
                      <a class="dropdown-item" href="/forum/">論壇</a>
                      <a class="dropdown-item" href="/logout/">登出</a>
                      <a class="dropdown-item" href="/message/all">個人通知</a>
                      {% else %}
                      <a class="dropdown-item" href="/regist/">註冊</a>
                      <a class="dropdown-item" href="/login/">登入</a>
                      <a class="dropdown-item" href="/forum/">論壇</a>
                      {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'database' %}">音樂庫</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'intro' %}">關於我們</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
	<!-- End header -->
	
	<!-- Start All Pages -->
	
	<!-- End All Pages -->
	<br/><br/><br/><br/><br/><br/>
	<!-- Start blog -->
  <div class="row">
        <div class="col-lg-12">
          <div class="heading-title text-center">
            <br/>
            <span style="font-size:2.2cm; color:orange;">現代樂</span><br>
          </div>
        </div>
      </div>
	<div class="blog-box">
		<div class="container">
			<div class="row">
				{% for post in newsunits %}
				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-box-inner">
						<div class="blog-img-box">
							<img class="img-fluid" src="{% static 'images/cat_pic.jpg' %}" alt="">
						</div>
						<div class="blog-detail">
							<h4>{{ post.title }}</h4>
							<ul>
								<li><span>Post by {{ post.author }}</span></li>
								<li>|</li>
								<li><span>{{ post.created_at }}</span></li>
							</ul>
							<p style=" width:300px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 8;">{{ post.content }}</p>

							<a class="btn btn-lg btn-circle btn-outline-new-white" href="/post/{{post.id}}">更多內容</a>
						</div>
					</div>
				</div>
				{% endfor %}
				
		</div>
    <div class="row">
        {% for post in searchresult %}
        <div class="col-lg-4 col-md-6 col-12">
          <div class="blog-box-inner">
            <div class="blog-img-box">
              <img class="img-fluid" src="{% static 'images/cat_pic.jpg' %}" alt="">
            </div>
            <div class="blog-detail">
              <h4>{{ post.title }}</h4>
              <ul>
                <li><span>Post by {{ post.author }}</span></li>
                <li>|</li>
                <li><span>{{ post.created_at }}</span></li>
              </ul>
              <p style=" width:300px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 8;">{{ post.content }}</p>

              <a class="btn btn-lg btn-circle btn-outline-new-white" href="/post/{{post.id}}">更多內容</a>
            </div>
          </div>
        </div>
        {% endfor %}
        
    </div>
	</div>
	<!-- End blog -->
	
  {% if currentpage > 1 %}
  <a style="position: absolute; left:80px;top:400px" href ='/blog/blog_modern/1/' title ="上一頁">
    <img src="{% static 'images/return.png' %}" alt="上一頁" width="64" height="30" /></a>
  {% endif %}
  {% if currentpage < totpage %}
  <a style="position: absolute; left:1250px;top:400px" href ='/blog/blog_modern/2/' title ="下一頁" >
    <img src="{% static 'images/forward.png' %}" alt="下一頁" width="64" height="30" /></a>
  {% endif %}
  </footer>
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% if user.is_authenticated %}
            <script>
var logoutUser = false;
var timeoutHnd = null;
var logouTimeInterval = 300000;// Three Second
function onuser_activite(){
    if(logoutUser){
;
    }
    else{
        ResetLogOutTimer();
    }
}
function OnTimeoutReached(){
logoutUser = true;
    alert("因為你閒置頁面過久，我們就先登出了喔!");
    window.location.href="/logout";

}
function ResetLogOutTimer(){
clearTimeout(timeoutHnd);
// set new timer
timeoutHnd = setTimeout('OnTimeoutReached();',logouTimeInterval);
}


</script>
<script>document.body.onclick = onuser_activite;
    timeoutHnd = setTimeout('OnTimeoutReached();',logouTimeInterval);
    </script>
{% else %}
        
            {% endif %}

    <!-- ALL PLUGINS -->
	
	<script src="{% static 'js/jquery.superslides.min.js' %}"></script>
	<script src="{% static 'js/images-loded.min.js' %}"></script>
	<script src="{% static 'js/isotope.min.js' %}"></script>
	<script src="{% static 'js/baguetteBox.min.js' %}"></script>
	<script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
{% endblock %}